.home{
  background-image: url("./image/seafood-slide2.jpg");
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

.sec{
  height:80vh;
}


.houre{
  background-image: url("./image/seafood-slide3.jpg.webp");
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  width: 100%;
}


.sube{
  background-image: url("./image/seafood-slide2.jpg");
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  width: 100%;
}


.movenav{
  right: 0;
  transition: 0.8s;
}


.carousel-item-padding-10 {
  padding: 0 10px; 
}